<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="${#authorization.expression('hasRole(''ADMIN'')')} ? 'Admin page' : 'User page'">Admin page</title>
</head>
<body>

<script th:inline="javascript">
    async function userInfo(){
        let response = await fetch("/api/users/" + [[${currentUser.id}]]);

        if (response.ok) { // если HTTP-статус в диапазоне 200-299
            let currentUser = await response.json();

            window['currentUser-id'].innerText=currentUser.id;
            window['currentUser-name'].innerText=currentUser.name;
            window['currentUser-lastname'].innerText=currentUser.lastName;
            window['currentUser-age'].innerText=currentUser.age;
            window['currentUser-email'].innerText=currentUser.username;
            window['currentUser-roles'].innerText=currentUser.rolesToString;
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }

    async function allUsersInfo(){
        let response = await fetch("/api/users");

        if (response.ok) {
            let users = await response.json();

            let tableUsers = document.getElementById('table-users');
            tableUsers.innerHTML = "";

            for (let i = 0; i < users.length; i++) {
                let trUsers = document.createElement('tr');

                trUsers.innerHTML = '<td>' + users[i].id + '</td>';
                trUsers.innerHTML += '<td>' + users[i].name + '</td>';
                trUsers.innerHTML += '<td>' + users[i].lastName + '</td>';
                trUsers.innerHTML += '<td>' + users[i].age + '</td>';
                trUsers.innerHTML += '<td>' + users[i].username + '</td>';
                trUsers.innerHTML += '<td>' + users[i].rolesToString + '</td>';
                trUsers.innerHTML += `<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-user-modal" onclick="clickEdit(${users[i].id})">Edit</button></td>`;
                trUsers.innerHTML += `<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-user-modal" onclick="clickDelete(${users[i].id})">Delete</button></td>`;

                tableUsers.append(trUsers);
            }
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }

    async function addUser(user){
        let response = await fetch("/api/users", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: user
        });

        let result = await response.json();
        updateWindowData();
    }

    function handleSubmit(event) {
        event.preventDefault();

        const formData = new FormData(event.target);

        let object = {};
        formData.forEach((value, key) => {
            if(!Reflect.has(object, key)){
                object[key] = value;
                return;
            }
            if(!Array.isArray(object[key])){
                object[key] = [object[key]];
            }
            object[key].push(value);
        });
        let json = JSON.stringify(object);

        //console.log({ json });

        addUser(json);

        event.target.reset();
    }

    async function editUser(user){
        let response = await fetch("/api/users", {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: user
        });

        let result = await response.json();
        updateWindowData();
    }

    async function clickDelete(id){
        let response = await fetch("/api/users/" + id);

        if (response.ok) { // если HTTP-статус в диапазоне 200-299
            let currentUser = await response.json();

            window['delete-user-id'].value=currentUser.id;
            window['delete-user-name'].value=currentUser.name;
            window['delete-user-lastname'].value=currentUser.lastName;
            window['delete-user-age'].value=currentUser.age;
            window['delete-user-email'].value=currentUser.username;
            window['delete-user-confirm'].setAttribute('onclick', `clickDeleteConfirm(${id})`);
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }

    async function clickDeleteConfirm(id){
        let response = await fetch("/api/users/" + id, {method: 'DELETE'});

        if (response.ok) { // если HTTP-статус в диапазоне 200-299
            updateWindowData();
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }

    async function clickEdit(id){
        let response = await fetch("/api/users/" + id);

        if (response.ok) { // если HTTP-статус в диапазоне 200-299
            let currentUser = await response.json();

            window['edit-user-id'].value=currentUser.id;
            window['edit-user-name'].value=currentUser.name;
            window['edit-user-lastname'].value=currentUser.lastName;
            window['edit-user-age'].value=currentUser.age;
            window['edit-user-email'].value=currentUser.username;
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }

    function clickEditConfirm() {
        let form = document.getElementById('edit-user-form');
        const formData = new FormData(form);

        let object = {};
        formData.forEach((value, key) => {
            if(!Reflect.has(object, key)){
                object[key] = value;
                return;
            }
            if(!Array.isArray(object[key])){
                object[key] = [object[key]];
            }
            object[key].push(value);
        });
        let json = JSON.stringify(object);

        console.log({ json });

        editUser(json);

        form.reset();
    }

    function updateWindowData() {
        userInfo();
        allUsersInfo();

        let allUsersTab = document.getElementById('all-users-tab');
        let newUserTab = document.getElementById('new-user-tab');

        allUsersTab.classList.add('active');
        newUserTab.classList.remove('active');

        let allUsersTabLink = document.getElementById('all-users-tab-link');
        let newUserTabLink = document.getElementById('new-user-tab-link');

        allUsersTabLink.classList.add('active');
        newUserTabLink.classList.remove('active');

    }

    window.onload=function(){
        const newUserForm = document.getElementById('new-user-form');
        newUserForm.addEventListener('submit', handleSubmit);

        updateWindowData();
    }


</script>

<div class="container-fluid p-0 m-0">
    <div class="row pt-0 pb-0 m-0">
        <!-- Navbar -->
        <div class="col-md-12 p-0 m-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0">
                <span class="navbar-brand font-weight-bold mr-1" sec:authentication="name">admin@mail.ru</span>
                <span class="navbar-brand mr-1">with roles:</span>
                <span class="navbar-brand" th:text="${currentUser.getRolesToString()}">ADMIN USER</span>
                <div class="collapse navbar-collapse pt-1 pb-1" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <form th:action="@{/logout}" method="post">
                        <input class="text-white-50 border-0 bg-dark m-0" type="submit" value="Logout" />
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="row pt-0 pb-0 m-0 vh-100">
        <!-- Left menu -->
        <div class="col-2 pr-0 pl-0 pt-3 m-0">
            <div class="list-group" id="list-tab" role="tablist">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item list-group-item-action border-0 active" id="list-admin-list" data-toggle="list" href="#list-admin" role="tab" aria-controls="admin">Admin</a>
                <a th:class="${#authorization.expression('hasRole(''ADMIN'')')} ? 'list-group-item list-group-item-action border-0' : 'list-group-item list-group-item-action border-0 active'"
                   id="list-user-list" data-toggle="list" href="#list-user" role="tab" aria-controls="user">User</a>
            </div>
        </div>
        <!-- Main -->
        <div class="col-10 bg-light p-4 m-0 h-100">
            <div class="tab-content" id="nav-tabContent">
                <!-- ADMIN -->
                <div sec:authorize="hasRole('ROLE_ADMIN')"
                     class="tab-pane fade show active"
                     id="list-admin" role="tabpanel" aria-labelledby="list-admin-list">
                    <H1>Admin panel</H1>
                    <div class="tabbable" id="tabs-972471">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="all-users-tab-link" class="nav-link active show"  href="#all-users-tab" data-toggle="tab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a id="new-user-tab-link" class="nav-link" href="#new-user-tab" data-toggle="tab">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- Users table -->
                            <div class="tab-pane active" id="all-users-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <b>All users</b>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="table-users">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- New user -->
                            <div class="tab-pane" id="new-user-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <b>Add new user</b>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="container-fluid p-0 m-0">
                                            <div class="row d-flex justify-content-center pt-0 pb-0 m-0">
                                                <div class="col-md-4 p-0 m-0">
                                                    <form id="new-user-form" th:object="${newUser}">
                                                        <div class="form-group">
                                                            <label for="input-first-name" class="mb-0"><b>First name</b></label>
                                                            <input type="text" class="form-control" id="input-first-name" name="name" placeholder="First name" th:value="${newUser.name}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-last-name" class="mb-0"><b>Last name</b></label>
                                                            <input type="text" class="form-control" id="input-last-name" name="lastName" placeholder="Last name" th:value="${newUser.lastName}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-age" class="mb-0"><b>Age</b></label>
                                                            <input type="number" class="form-control" id="input-age" name="age" placeholder="Age" th:value="${newUser.age}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-email" class="mb-0"><b>Email</b></label>
                                                            <input type="email" class="form-control" id="input-email" name="username" placeholder="Email" th:value="${newUser.username}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-password" class="mb-0"><b>Password</b></label>
                                                            <input type="password" class="form-control" id="input-password" name="password" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="select-roles" class="mb-0"><b>Role</b></label>
                                                            <select multiple class="form-control" th:size="${allRoles.size()}" style="height: 100%;" id="select-roles" name="roles" th:field="*{roles}">
                                                                <option th:each="role : ${allRoles}"
                                                                        th:text="${role.name}"
                                                                        th:value="${role.id}"
                                                                        ></option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-success">Add new user</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- USER -->
                <div th:class="${#authorization.expression('hasRole(''ADMIN'')')} ? 'tab-pane fade' : 'tab-pane fade show active'"
                        id="list-user" role="tabpanel" aria-labelledby="list-user-list">
                    <H1>User information-page</H1>
                    <div class="card">
                        <div class="card-header">
                            <b>About user</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="currentUser-id">id</td>
                                    <td id="currentUser-name">name</td>
                                    <td id="currentUser-lastname">lastname</td>
                                    <td id="currentUser-age">age</td>
                                    <td id="currentUser-email">email</td>
                                    <td id="currentUser-roles">ROLE</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="delete-user-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-user-modal-label">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid p-0 m-0">
                    <div class="row d-flex justify-content-center pt-0 pb-0 m-0">
                        <div class="col-md-6 p-0 m-0">
                            <form id="delete-user-form">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label for="delete-user-id" class="mb-0"><b>ID</b></label>
                                        <input type="text" class="form-control" id="delete-user-id" placeholder="id">
                                    </div>
                                    <div class="form-group">
                                        <label for="delete-user-name" class="mb-0"><b>First name</b></label>
                                        <input type="text" class="form-control" id="delete-user-name" placeholder="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="delete-user-lastname" class="mb-0"><b>Last name</b></label>
                                        <input type="text" class="form-control" id="delete-user-lastname" placeholder="lastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="delete-user-age" class="mb-0"><b>Age</b></label>
                                        <input type="number" class="form-control" id="delete-user-age" placeholder="age">
                                    </div>
                                    <div class="form-group">
                                        <label for="delete-user-email" class="mb-0"><b>Email</b></label>
                                        <input type="email" class="form-control" id="delete-user-email" placeholder="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="delete-roles" class="mb-0"><b>Role</b></label>
                                        <select multiple class="form-control" th:size="${allRoles.size()}" style="height: 100%;" id="delete-roles" name="roles">
                                            <option th:each="role : ${allRoles}"
                                                    th:text="${role.name}"
                                                    th:value="${role.id}"
                                            ></option>
                                        </select>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" data-dismiss="modal" id="delete-user-confirm">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="edit-user-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-user-modal-label">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid p-0 m-0">
                    <div class="row d-flex justify-content-center pt-0 pb-0 m-0">
                        <div class="col-md-6 p-0 m-0">
                            <form id="edit-user-form">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="edit-user-id" class="mb-0"><b>ID</b></label>
                                        <input readonly type="text" class="form-control" name="id" id="edit-user-id" placeholder="ID">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-user-name" class="mb-0"><b>First name</b></label>
                                        <input type="text" class="form-control" name="name" id="edit-user-name" placeholder="First name">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-user-lastname" class="mb-0"><b>Last name</b></label>
                                        <input type="text" class="form-control" name="lastName" id="edit-user-lastname" placeholder="Last name">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-user-age" class="mb-0"><b>Age</b></label>
                                        <input type="number" class="form-control" name="age" id="edit-user-age" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-user-email" class="mb-0"><b>Email</b></label>
                                        <input type="email" class="form-control" name="username" id="edit-user-email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-user-password" class="mb-0"><b>Password</b></label>
                                        <input type="password" class="form-control" name="password" id="edit-user-password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-roles" class="mb-0"><b>Role</b></label>
                                        <select multiple class="form-control" th:size="${allRoles.size()}" style="height: 100%;" id="edit-roles" name="roles">
                                            <option th:each="role : ${allRoles}"
                                                    th:text="${role.name}"
                                                    th:value="${role.id}"
                                            ></option>
                                        </select>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="clickEditConfirm()">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>